# Large data directories 

#Data
*.pkl
*.RData
.RDataTmp*
*.json
*.csv
*.npy
#exceptions
!data/Clarinet A full time series.csv
!data/Flute A full time series.csv
#Python 
__pycache__/
*.py[cod]
.ipynb_checkpoints/ 
.pytest_cache/
.venv/
venv/
env/

# macOS
.DS_Store

# R
.Rhistory
.RDataTmp*
.Rhistory
.Rproj.user/