# Large data directories 

data/
PI_orbit5k_data/ 
PI_circle_data/ 
PI_Torus_data/
Torus_PL_list.pkl
/Per_Image_testing/.RData
/Per_Image_testing/.RDataTmp*
#Python 
__pycache__/
*.py[cod]
.ipynb_checkpoints/ 
.pytest_cache/
.venv/
venv/
env/

# macOS
.DS_Store

# R
.Rhistory